models/faster_rcnn_fpn.model filter=lfs diff=lfs merge=lfs -text
.ipynb filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
model/extract_bbox_from_heatmap.py filter=lfs diff=lfs merge=lfs -text
model/fill_hog_bins.py filter=lfs diff=lfs merge=lfs -text
model/hog.py filter=lfs diff=lfs merge=lfs -text
model/network.py filter=lfs diff=lfs merge=lfs -text
model/utils.py filter=lfs diff=lfs merge=lfs -text
model/compute_iou.py filter=lfs diff=lfs merge=lfs -text
model/nms.py filter=lfs diff=lfs merge=lfs -text
model/sliding_window_detection.py filter=lfs diff=lfs merge=lfs -text
model/train.py filter=lfs diff=lfs merge=lfs -text
model/compute_image_gradient.py filter=lfs diff=lfs merge=lfs -text
models/*.model filter=lfs diff=lfs merge=lfs -text
models/faster_rcnn_fpn_.model filter=lfs diff=lfs merge=lfs -text
test/*.pth filter=lfs diff=lfs merge=lfs -text
test/nms_threshold_0_2.pth filter=lfs diff=lfs merge=lfs -text
test/nms_threshold_0_9.pth filter=lfs diff=lfs merge=lfs -text
test/blockified_gradient_norm.pth filter=lfs diff=lfs merge=lfs -text
test/hog_bins.pth filter=lfs diff=lfs merge=lfs -text
test/images.pth filter=lfs diff=lfs merge=lfs -text
test/nms_scores.pth filter=lfs diff=lfs merge=lfs -text
test/nms_threshold_0_1.pth filter=lfs diff=lfs merge=lfs -text
test/blockified_gradient_angle.pth filter=lfs diff=lfs merge=lfs -text
test/images_gradient_angle.pth filter=lfs diff=lfs merge=lfs -text
test/images_gradient_norm.pth filter=lfs diff=lfs merge=lfs -text
test/nms_bboxes.pth filter=lfs diff=lfs merge=lfs -text
test/nms_threshold_0_5.pth filter=lfs diff=lfs merge=lfs -text
